extends ./base.pug

block content
  main.container.p-2.pt-4.pb-5.p-sm-5.mt-3(role="main", style="min-height: 90vh;")
    .row
      .col-md-12
        .error-template
          h1 404 Not Found
          .error-details.mt-3.mb-4
            | リクエストされたページが見つかりませんでした。<br />
          .error-actions
            a.btn.btn-primary(href="/")
              i.fas.fa-home.mr-2
              | ホームに戻る
            a.btn.btn-secondary(href="https://twitter.com/enquetia")
              i.fas.fa-envelope.mr-2
              | 問い合わせる
