extends ./base.pug

block content
  main.container.p-2.pt-4.pb-5.p-sm-5.mt-3(role="main", style="min-height: 90vh;")
    .row
      .col-md-12
        .error-template
          h1 500 Internal Server Error
          .error-details.mt-3.mb-4
            | サーバーがエラーを検出したため処理を実行できませんでした。<br />
            | しばらく時間をおいてからもう一度アクセスして頂くか、
            | 管理者にお問い合わせください。
          .error-actions
            a.btn.btn-primary(href="/")
              i.fas.fa-home.mr-2
              | ホームに戻る
            a.btn.btn-secondary(href="https://twitter.com/enquetia")
              i.fas.fa-envelope.mr-2
              | 問い合わせる
