doctype html
html(lang="jp")
  head
    title Enquetia (アンケティア) - みんなでアンケしよう！
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel="stylesheet")
    meta(name="description", content="Enquetia (アンケティア) は、匿名でアンケートする＆アンケートに回答できるサービスです。選択項目は上限なし、チェックボックスにも対応しています。気になることを質問したり答えたり、みんなでアンケしよう！")
    meta(name="keywords", content="質問, アンケート, twitter")
    link(rel="canonical", href="https://enquietia.appspot.com")
    meta(name="twitter:title", content="Enquetia (アンケティア) - みんなでアンケしよう！")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:image", content="https://enquietia.appspot.com/images/ogp.png")
    meta(name="twitter:image:alt", content="enquetia")
    meta(name="twitter:description", content="Enquetia (アンケティア) は、匿名でアンケートする＆アンケートに回答できるサービスです。選択項目は上限なし、チェックボックスにも対応しています。気になることを質問したり答えたり、みんなでアンケしよう！")
    meta(name="twitter:url", content="https://enquietia.appspot.com")
    meta(name="twitter:site", content="@enquetia")
    meta(name="twitter:domain", content="enquietia.appspot.com")
    meta(property="og:title", content="Enquetia (アンケティア) - みんなでアンケしよう！")
    meta(property="og:url", content="https://enquietia.appspot.com")
    meta(property="og:image", content="https://enquietia.appspot.com/images/ogp.png")
    meta(property="og:image:alt", content="enquetia")
    meta(property="og:description", content="Enquetia (アンケティア) は、匿名でアンケートする＆アンケートに回答できるサービスです。選択項目は上限なし、チェックボックスにも対応しています。気になることを質問したり答えたり、みんなでアンケしよう！")
    meta(property="og:locale", content="ja_JP")
    meta(name="robots", content="noarchive")
    meta(name="copyright", content="Copyright &amp;copy; Enquetia All right reserved.")
    meta(content='on', http-equiv='x-dns-prefetch-control')
  body
    nav.navbar.navbar-light.bg-light
      a.navbar-brand(href="/enquetes") Enquetia
      ul.navbar-nav.mr-auto
        li.nav-item
          a.btn.btn-sm.btn-outline-primary(href="/enquetes/add") アンケートを作る
      span.navbar-text.navbar-right
        if profile
          a(href="/enquetes/mine" title="マイページに移動")
            if profile.image
              img.rounded-circle.mr-2(src=profile.image, width=30)
            else
              span #{profile.displayName}
          a(href=logout) ログアウト
        else
          a(href=login) ログイン
    .container
      block content
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js", integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    block script
