body {
  background-color: linen;
}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.bg-info-custom {
  background-color: #aae5d6;
}
.card-header {
  color: darkslategray;
}

.btn-primary {
  background-color: dodgerblue;
  border-color: dodgerblue;
}
