body {
  background-color: lightcyan;
}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.bg-info-custom {
  background-color: #A0F6D2;
}
.bg-light-custom {
  background-color: white;
}
.card-header {
  color: darkslategray;
}

main.container {
  max-width: 900px;
  background-color: white;
}

.btn-primary {
  background-color: dodgerblue;
  border-color: dodgerblue;
}
