extends ../base.pug
include ../_card

block head
  meta(name="description", content="Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" + maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(name="twitter:card", content="summary")
  meta(property="og:type", content="website")
  meta(property="og:title", content="Enquetia (アンケティア) - みんなでアンケしよう！")
  meta(property="og:description", content="Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" +maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(property="og:image", content="https://enquetia.net/img/logo.png")
  meta(property="og:image:alt", content="enquetia")

block content
  .d-block.d-sm-none.w-100.mb-3.mt-3(style="background-color: white;")
    a.btn.btn-block.btn-outline-primary(href="/add") アンケートを作る

  .container
    .row
      .col.p-0.pl-sm-3.pr-sm-3
        ul.nav.nav-pills.nav-fill.mt-2.mt-sm-4.ml-sm-3.mr-sm-3.mb-2.border.rounded(style="background-color: white;")
          li.nav-item
            a.nav-link.active#pills-topics-tab(data-toggle="pill", href="#pills-topics", role="tab", aria-controls="pills-topics", aria-selected="true") 今話題のアンケート
          li.nav-item
            a.nav-link#pills-news-tab(data-toggle="pill", href="#pills-news", role="tab", aria-controls="pills-news", aria-selected="false") 最新アンケート

  main.container.p-2.pt-4.pb-5.p-sm-5.mt-3.border.rounded(role="main", style="min-height: 90vh;")
    .tab-content#pills-tabContent
      .tab-pane.fade.show.active#pills-topics(role="tabpanel", aria-labelledby="pills-topics-tab")
        .card.mb-4.bg-info-custom
          .card-header.bg-light-custom(type="button", data-toggle="collapse", href="#topics", aria-expanded="true", aria-controls="topics")
            h3.mb-0 今話題のアンケート
          .card-body
            if topics != null && topics.length
              each question, index in topics
                .enqueteUnit
                  if question.is_voted || question.is_expired
                    .result
                      +result(question)
                    .vote(style="display: none;")
                      +card(question)
                  else
                    .result(style="display: none;")
                      +result(question)
                    .vote
                      +card(question)
                if index != topics.length-1
                  hr.mt-4.mb-4.mt-sm-5.mb-sm-5
            else
              .card.m-0.m-sm-4
                .card-body
                  p.card-text.mb-0 アンケートはありません。

      .tab-pane.fade#pills-news(role="tabpanel", aria-labelledby="pills-news-tab")
        .card.bg-info-custom
          .card-header.bg-light-custom(type="button", data-toggle="collapse", href="#news", aria-expanded="true", aria-controls="news")
            h3.mb-0 最新アンケート
          .card-body
            if news != null && news.length
              each question, index in news
                .enqueteUnit
                  if question.is_voted || question.is_expired
                    .result
                      +result(question)
                    .vote(style="display: none;")
                      +card(question)
                  else
                    .result(style="display: none;")
                      +result(question)
                    .vote
                      +card(question)
                if index != news.length-1
                  hr.mt-4.mb-4.mt-sm-5.mb-sm-5
            else
              .card.m-0.m-sm-4
                .card-body
                  p.card-text.mb-0 アンケートはありません。

block script
  link(href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css', rel="stylesheet")
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
  script(type='text/javascript', src='https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js')
  script(type='text/javascript', src='/js/result.js', id='question', data-json=JSON.stringify(question))
