extends ../base.pug
include _card

block head
  meta(name="description", content="Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" + maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(name="twitter:card", content="summary")
  meta(property="og:type", content="website")
  meta(property="og:title", content="Enquetia (アンケティア) - みんなでアンケしよう！")
  meta(property="og:description", content="Enquetia (アンケティア) は、匿名でアンケートの作成・回答ができるサービスです。選択項目は最大" +maxItemCount + "個まで設定でき、複数選択にも対応しています。気になるアレコレを気軽にアンケしよう！")
  meta(property="og:image", content="https://enquetia.net/img/logo.png")
  meta(property="og:image:alt", content="enquetia")

block content
  .d-block.d-sm-none.w-100.mb-4
    a.btn.btn-block.btn-primary(href="/add") アンケートを作る
  .card.mb-4.bg-info-custom
    .card-header.bg-light-custom(type="button", data-toggle="collapse", href="#topics", aria-expanded="true", aria-controls="topics")
      h3.mb-0 今話題のアンケート
        i.fas.fa-bars.float-right
    .collapse.show#topics
      .card-body
        if topics != null && topics.length
          each question, index in topics
            +card(question)
            if index != topics.length-1
              hr.mb-5
        else
          .card.m-0.m-sm-4
            .card-body
              p.card-text.mb-0 アンケートはありません。

  hr.mb-4
  .card.bg-info-custom
    .card-header.bg-light-custom(type="button", data-toggle="collapse", href="#news", aria-expanded="true", aria-controls="news")
      h3.mb-0 最新アンケート
        i.fas.fa-bars.float-right
    .collapse.show#news
      .card-body
        if news != null && news.length
          each question, index in news
            +card(question)
            if index != news.length-1
              hr.mb-5
        else
          .card.m-0.m-sm-4
            .card-body
              p.card-text.mb-0 アンケートはありません。

