extends ../base.pug
include ../_card

block head
  meta(name="description", content="「" + question.title + "」の気になる投票結果はこちら！")
  meta(name="twitter:card", content="summary")
  meta(property="og:type", content="article")
  meta(property="og:title", content="「" + question.title + "」投票結果")
  meta(property="og:description", content="「" + question.title + "」の気になる投票結果はこちら！")
  meta(property="og:image", content="https://enquetia.net/img/logo.png")
  meta(property="og:image:alt", content="enquetia")

block content
  main.container.p-2.pt-4.pb-5.p-sm-5.mt-3(role="main", style="min-height: 90vh;")
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item
          a(href="/" + question.id) アンケート投票
        li.breadcrumb-item.active(aria-current="page") アンケート結果
    .card.bg-info-custom
      .card-header.bg-light-custom
        h3.mb-0 #{action}
      .card-body
        if question
          +result(question)

block script
  link(href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css', rel="stylesheet")
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
  script(type='text/javascript', src='https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js')
  script(type='text/javascript', src='/js/result.js', id='question', data-json=JSON.stringify(question))
