extends ../base.pug
include _card

block head
  meta(name="description", content=question.description || "「" + question.title + "」の投票画面です。皆さんの投票をお待ちしています！")
  meta(name="twitter:card", content="summary_large_image")
  meta(property="og:type", content="article")
  meta(property="og:title", content="「" + question.title + "」の投票はこちら")
  meta(property="og:description", content="皆さんの投票をお待ちしています！")
  meta(property="og:image", content="https://storage.cloud.google.com/enquetia/" + question.id + ".png")
  meta(property="og:image:alt", content="enquetia")

block content
  .card.mb-4.bg-info
    .card-header.bg-light
      h3.mb-0 #{action}
    .card-body
      if question
        +card(question)

block script
  script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js")
  script(type='text/javascript', src='/js/view.js', id='question', data-json=JSON.stringify(question))
