extends ../base.pug
include ../_card

block head
  meta(name="description", content=question.description || "「" + question.title + "」の投票画面です。皆さんの投票をお待ちしています！")
  meta(property="og:type", content="article")
  meta(property="og:title", content="「" + question.title + "」の投票はこちら")
  meta(property="og:description", content="皆さんの投票をお待ちしています！")
  //- meta(property="og:image", content="https://enquetia.net/img/logo.png")
  meta(property="og:image", content="https://storage.googleapis.com/enquetia/" + question.id + ".png")
  //- meta(property="og:image", content="https://enquetia.net/img/5738700218564608.png")
  //- meta(property="og:image", content="https://storage.cloud.google.com/enquetia/5738700218564608.png")
  meta(name="twitter:card", content="summary_large_image")
  //- meta(name="twitter:card", content="summary")

block content
  main.container.p-2.pt-4.pb-5.p-sm-5.mt-3.border.rounded(role="main")
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Home
        li.breadcrumb-item.active(aria-current="page") アンケート投票
    .card.bg-info-custom
      .card-header.bg-light-custom
        h3.mb-0 #{action}
      .card-body
        if question
          .enqueteUnit
            .result(style="display: none;")
              +result(question)
            .vote
              +card(question)

block script
  link(href='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css', rel="stylesheet")
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
  script(type='text/javascript', src='https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js')
  script(type='text/javascript', src='/js/result.js', id='question', data-json=JSON.stringify(question))
  //- 
    script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js")
    script(type='text/javascript', src='/js/view.js', id='question', data-json=JSON.stringify(question))
